{% load humanize %}

<html>
	<head>
		<title>My first Django page</title>
	</head>
	<body>
		{% if request.user.is_authenticated %}
			<p>Hello {{ request.user.username|title }}, you last logged in at {{ request.user.last_login|date:"D d M Y" }}</p>
		{% else %}
			<p>Welcome guest!</p>
		{% endif %}
		
		<main>
			<h1>{{ books.count|apnumber|title }} book{{ books.count|pluralize }}</h1>
			
			{% for book in books %}
				<h2>{{ book.title }} by {{ book.list_authors }}</h2>
				{% if book.is_favourite %}
					<span class="highlight">favourite</span>
				{% endif %}
				{{ book.review }}
			{% endfor %}
		</main>
	</body>
</html>
